.header__burger-container {
	width: auto;
	height: 30px;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 10;
}
.header__burger {
	display: block;
	height: 6px;
	width: 30px;
	background: #1E1928;
	border-radius: 15px;
	position: relative;
	transition: all 0.5s ease-in-out;
}
.header__burger::before {
	content: "";
	display: block;
	height: 6px;
	width: 30px;
	background: #1E1928;
	border-radius: 15px;
	position: absolute;
	transform: translateY(-10px);
	transition: all 0.5s ease-in-out;
}

.header__burger::after {
	content: "";
	display: block;
	height: 6px;
	width: 30px;
	background: #1E1928;
	border-radius: 15px;
	position: absolute;
	transform: translateY(10px);
	transition: all 0.5s ease-in-out;
}
.header__list_activated {
	width: 100%;
	height: 260px !important;
}
.header__burger_activated {
	transform: translateX(50px);
	background: transparent;
}
.header__burger_activated::after {
	transform: rotate(45deg) translate(-35px, 35px);
}
.header__burger_activated::before {
	transform: rotate(-45deg) translate(-35px, -35px);
}
@media only screen and (max-width: 1154px) {
	._inactive-about-me-image {
		transform: scale(0.5) translateX(-50px);
		transition: 1s transform;
	}
	._active-about-me-image {
		transform: scale(1) translateX(-50px) !important;
	}
	.about-me {
		height: auto;
	}
}
@media only screen and (min-width: 300px) and (max-width: 992px) {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		margin-bottom: 0;
	}
	.header::before {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
	}
	.header__burger-container {
		display: flex;
	}
	.intro__image {
		max-width: 500px;
		max-height: 500px;
		margin: 0 auto;
	}
	.intro__illustration {
		width: 100%;
		height: 100%;
	}
	.header__list {
		overflow-y: hidden;
		height: 70px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 4;
		display: block;
		box-shadow: 0 1px 15px 0 rgba(30, 25, 40, 0.3);
	}
	.header__item-link {
		font-size: 30px;
		text-align: center;
		width: 100%;
	}
	.header__item-link::after {
		display: none;
	}
	.header__item {
		margin: 0 0 30px;
		text-align: center;
	}
	.header__item:first-child {
		margin-top: 80px;
	}
	.header__item:last-child {
		margin-bottom: 0;
	}
	.intro__wrapper {
		display: block;
		text-align: center;
	}
	.intro__greeting-up {
		margin: 0 auto;
		width: fit-content;
		margin-bottom: 30px;
	}
	.intro__greeting-down {
		margin: 0 auto;
		width: fit-content;
		margin-bottom: 30px;
	}
	.intro__button {
		margin: 0 auto 40px;
	}
	.intro {
		height: auto;
		padding-top: 200px;
	}
	.about-me__illustration {
		display: none;
	}
	.about-me__content-paragraph-1, .about-me__content-paragraph-2, .about-me__content-paragraph-3, .about-me__content-subtitle, .about-me__title {
		max-width: 100%;
		text-align: center;
	}
	.skills__title {
		margin-bottom: 30px;
	}
	.skills__wrapper {
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	    grid-column-gap: 20px;
	    grid-row-gap: 40px;
	    margin-bottom: 80px;
	}
	.skills__grid-item-bigger-1 {
	  	grid-column-start: 1;
	  	grid-column-end: 2;
	}
	.skills__grid-item-bigger-2 {
	  	grid-column-start: 2;
	  	grid-column-end: 3;
	}
	.skills__item-text {
		padding: 10px 5px; 
	}
	.skills__paragraph-1, .skills__paragraph-2, .skills__paragraph-3 { 
		text-align: center;
	}
	.portfolio__title {
		margin-bottom: 30px;
	}
	.portfolio__wrapper {
		display: block;
	}
	.portfolio__block-1 {
		margin-bottom: 40px;
	}
	.footer__wrapper {
		display: block;
	}
	.footer__email-wrapper {
		margin-bottom: 60px;
		text-align: center;
	}
	.footer__email {
		margin-bottom: 10px;
	}
	.footer__social-networks-wrapper {
		margin: 0 auto;
	}
}
@media only screen and (max-width: 400px) {
	.footer__email {
		margin-right: 0 !important;
	}
}
