html {
	box-sizing: border-box;
	position: relative;
}
*, *::before, *::after {
	box-sizing: inherit;
}
a {
	text-decoration: none;
}
body {
	background: #FCFCFC;
}
.no-scroll {
	overflow-y: hidden;
}
.intro {
	height: 100vh;
	background: #FCFCFC;
}
.wrapper {
	margin: 0 auto;
	max-width: 1140px;
	height: 100%;
	padding: 0 20px;
}
.header {
	width: 100%;
	padding: 20px 0;
	background: #FCFCFC;
	z-index: 10;
	margin-bottom: 130px;
}
.header::before {
	content: "";
	display: block;
	width: 100%;
	height: 70px;
	background: #FCFCFC;
	z-index: 5;
	display: none;
}
.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.header__logo {
	font-size: 30px;
	font-family: "Roboto-Bold";
	color: #1E1928;
	z-index: 10;
}
.header__logo span {
	color: #AB0101;
}
.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__list {
	display: flex;
	flex-wrap: wrap;
	transition: 1s background, 1s height;
	z-index: 10;
	position: relative;
	background: #FCFCFC;
}
.header__item-link {
	font-size: 22px;
	font-family: "Roboto-Regular";
	color: #1E1928;
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
}
.header__item-link:hover::after {
	width: 100%;
}
.header__item-link::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -4px;
	height: 2px;
	width: 0;
	background: #1E1928;
	transition: 0.5s width;
}
.header__item {
	margin-right: 40px;
}
.header__item:last-child {
	margin-right: 0;
}
.intro__wrapper {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.intro__greeting {
	padding-top: 70px;
}
.intro__greeting-up {
	font-size: 46px;
	font-family: "Roboto-Bold";
	color: #1E1928;
	width: 400px;
	line-height: 56px;
	margin-bottom: 20px;
}
.intro__greeting-down {
	font-size: 34px;
	font-family: "Roboto-Regular";
	color: #1E1928;
	width: 400px;
	line-height: 40px;
	margin-bottom: 40px;
}
.intro__button {
	width: 250px;
	height: 60px;
	border-radius: 30px;
	background: #E42424;
	border: none;
	font-size: 24px;
	font-family: "Roboto-Regular";
	color: #FCFCFC;
	transition: 0.5s transform;
	display: block;
	text-align: center;
	line-height: 60px;
}
.intro__button:hover {
	transform: scale(1.05);
}
.intro__illustration {
	height: 500px;
	width: 500px;
}
.about-me {
	background: #FCFCFC;
	padding: 60px 0 20px;
	height: 100vh;
}
.about-me__illustration {
	height: 600px;
	width: 600px;
	transform: translateX(-70px);
}
.about-me__wrapper {
	display: flex;
	justify-content: space-between;
}
.about-me__title {
	font-size: 30px;
	font-family: "Roboto-Bold";
	color: #1E1928;
	margin-bottom: 30px;
}
.about-me__content-wrapper {
	padding-top: 40px;
	text-align: left;
}
.about-me__content-paragraph-1, .about-me__content-paragraph-2, .about-me__content-paragraph-3 {
	font-size: 24px;
	font-family: "Roboto-Regular";
	color: #1E1928;
	line-height: 28px;
	max-width: 500px;
	margin-bottom: 20px;
}
.about-me__content-subtitle {
	font-size: 28px;
	font-family: "Roboto-Regular";
	color: #1E1928;
	line-height: 32px;
	max-width: 500px;
	margin-bottom: 20px;
}
.skills {
	padding: 80px 0 20px;
	background: #FCFCFC;
}
.skills__title {
	font-size: 30px;
	font-family: "Roboto-Bold";
	color: #1E1928;
	margin-bottom: 80px;
	text-align: center;
}
.skills__wrapper {
	display: grid;
  	grid-template-columns: repeat(4, 1fr);
  	grid-column-gap: 20px;
  	grid-row-gap: 40px;
  	margin-bottom: 80px;
}
._active {
	transform: translateY(0) !important;
	opacity: 1 !important;
}
._inactive {
	transform: translateY(200px);
	transition: 1s transform, 1s opacity;
	opacity: 0;
}
._active-about-me-image {
	transform: scale(1) translateX(-70px) !important;
}
._inactive-about-me-image {
	transform: scale(0.5) translateX(-70px);
	transition: 1s transform;
}
._active-image {
	transform: scale(1) !important;
}
._inactive-image {
	transform: scale(0.5);
	transition: 1s transform;
}
.skills__item-text {
	font-size: 18px;
	font-family: "Roboto-Regular";
	color: #1E1928;
    display: inline-block;
    transition: 1s transform;
}
.skills__item-text:hover {
  	transform: translateY(-20px);
}
.skills__grid-item {
	text-align: center;
}
.skills__grid-item-bigger-1 {
  	grid-column-start: 1;
  	grid-column-end: 3;
}
.skills__grid-item-bigger-2 {
  	grid-column-start: 3;
  	grid-column-end: 5;
}
.skills__paragraph-1, .skills__paragraph-2, .skills__paragraph-3 {
	font-size: 18px;
	font-family: "Roboto-Regular";
	color: #1E1928;
	line-height: 26px;
	margin-bottom: 20px;
	max-width: 1050px;
	margin: 0 auto 5px;
	text-align: center;
}
.skills__paragraph-3 {
	margin-bottom: 0;
}
.skills__item-text {
	border: 3px solid #1E1928;
	border-radius: 30px;
	display: block;
	padding: 10px;
	max-width: 180px;
	margin: 0 auto;
}
.portfolio {
	padding: 80px 0 20px;
	background: #FCFCFC;
}
.portfolio__title {
	font-size: 30px;
	font-family: "Roboto-Bold";
	color: #1E1928;
	margin-bottom: 80px;
	text-align: center;
}
.portfolio__wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
}
.portfolio__block-image {
	width: 300px;
	height: 300px;
	display: block;
}
.portfolio__block-title {
	font-size: 18px;
	font-family: "Roboto-Regular";
	color: #1E1928;
	text-align: center;
}
.portfolio__block-link {
	display: block;
	width: 300px;
	height: 300px;
	margin: 0 auto 20px;
}
.footer {
	padding: 80px 0 0;
	background: #FCFCFC;
}
.footer__line {
	width: 100%;
	height: 2px;
	background: rgba(0,0,0,0.2);
	margin-bottom: 40px;
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
}
.footer__email-wrapper {
	margin: auto 0;
}
.footer__email, .footer__email-link {
	font-size: 22px;
	font-family: "Roboto-Regular";
	color: #1E1928;
	transition: 0.5s transform;
	display: inline-block;
}
.footer__email-link:hover {
	transform: translateY(-10px);
}
.footer__email:first-child {
	margin-right: 20px;
}
.footer__social-networks-wrapper {
	display: flex;
	justify-content: space-between;
	width: 180px;
}
.footer__social-network-link {
	display: block;
	transition: 0.5s transform;
}
.footer__social-network-link:hover {
	transform: translateY(-10px);
}
.footer__social-network-image {
	width: 44px;
	height: 44px;
}
.footer__copyrights {
	font-size: 22px;
	font-family: "Roboto-Regular";
	color: #1E1928;
	padding: 50px 0;
	text-align: center;
}

@font-face {
	font-family: "Itim-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Itim-Regular.ttf");
}
@font-face {
	font-family: "Roboto-Bold";
	font-style: bold;
	font-weight: 700;
	src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
	font-family: "Roboto-Regular";
	font-style: bold;
	font-weight: 400;
	src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
	font-family: "PlayfairDisplay-Regular";
	font-style: bold;
	font-weight: 500;
	src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
